html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.section-top{
    margin: 20px;
}

.background-responsive{
    background-image: url(img/slider0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25%;
}

.product-item{
    height: 215px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 5px;
    text-align: center;

}

.img-responsive{
    background-repeat: no-repeat;
    background-size: cover;
}

.add-to-card-btn{
    position: absolute;
    bottom: 5px;
    left: 70px;
}