{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="section-top">
        <div class="background-responsive" alt=""></div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">

                {% for product_image in products_images %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div>
                                <img src="{{ product_image.image.url }}" class="img-responsive" alt="img">
                            </div>
                            <h6>{{ product_image.product.name }}</h6>
                            <p>
                                {{ product_image.product.description|truncatechars_html:50 }}
                            </p>
                            <div>
                                {{ product_image.product.price }} UAH
                            </div>
                            <div class="add-to-card-btn">
                                <button class="btn btn-success">
                                    Add to Card
                                </button>
                            </div>
                        </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock content %}